 <div class="card m-b-0">

     <div class="row">
         <div class="col-md-4 p-r-0">
             <div class="card-body bg-info h-100 p-r-0 text-center">



                 <div class="p-t-30">
                     <i class="mdi mdi-security fa-3x text-white p-t-30"></i>

                     <h2 class="text-white font-weight-light">My Security <br><span class="font-bold">Action Plan</span>
                     </h2>
                 </div>



                 <h2 class="text-white font-weight-light p-t-10">Step 2
                 </h2>



             </div>

         </div>

         <div class="col-md-8 p-l-0">
             <div class="card-body p-0">
                 <div class="message-box contact-box position-relative">

                     <div class="message-widget contact-widget position-relative">
                         <!-- Message -->
                         <a href="#" class="py-3 px-2 border-bottom d-block text-decoration-none">
                             <div class="user-img position-relative d-inline-block mr-3 ml-3"> <span class="round text-white d-inline-block text-center rounded-circle bg-info">1</span>
                             </div>
                             <div class="mail-contnet d-inline-block align-middle">
                                 <h5 class="my-1">Risk Report Remediation</h5> <span class="mail-desc font-12 d-block">Find and fix all issues to protect your organisation from common vulnerabilities </span>
                             </div>
                         </a>
                         <!-- Message -->
                         <a href="{% url 'internal_assessment' %}" class="py-3 px-2 border-bottom d-block text-decoration-none" style="background: #f2f4f8;">
                             <div class="user-img position-relative d-inline-block mr-3  ml-3"> <span class="round text-white d-inline-block text-center rounded-circle bg-info">2</span>

                             </div>
                             <div class="mail-contnet d-inline-block align-middle">
                                 <h5 class="my-1">Security Self Assessment</h5> <span class="mail-desc font-12  d-block">Identify weaknesses and generate a remediation plan to ensure essential cybersecurity measures are in place. </span>
                             </div>
                         </a>
                         <!-- Message -->
                         <a href="#" class="py-3 px-2 border-bottom d-block text-decoration-none">
                             <div class="user-img position-relative d-inline-block mr-3 ml-3"> <span class="round text-white d-inline-block text-center rounded-circle bg-info">3</span>
                             </div>
                             <div class="mail-contnet d-inline-block align-middle">
                                 <h5 class="my-1">Safeguard Your Assests </h5><span class="mail-desc font-12  d-block">Review, update, manage, develop policies and procedures to maintain your cyber security.</span>
                             </div>
                         </a>
                         <!-- Message -->
                         <a href="{% url 'security_training' %}" class="py-3 px-2 d-block text-decoration-none">
                             <div class="user-img position-relative d-inline-block mr-3 ml-3"> <span class="round text-white d-inline-block text-center rounded-circle bg-info">4</span>

                             </div>
                             <div class="mail-contnet d-inline-block align-middle">
                                 <h5 class="my-1">Security Awareness Education</h5> <span class="mail-desc font-12  d-block">Take preventive action against cyber risks with the deployment of staff awareness training.</span>
                             </div>
                         </a>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
