<div class="row">
    {% load static %}
    <div class="col-12 m-t-30">
        <h4 class="m-b-0">Employee Awareness Training</h4>
        <p class="text-muted m-t-0 font-12">Suport your cyber security initiative with effective staff training. <a href="{% url 'security_training_LMS' %}">Click here to find out more</a></p>
        <div class="card-deck">

            <div class="card">
                <img class="card-img-top img-responsive" src="{% static 'images/phishing.jpg' %}" alt="Phishing Awareness Training">

            </div>
            <div class="card">
                <img class="card-img-top img-responsive" src="{% static 'images/workplace.jpg' %}" alt="Workplace Security">

            </div>

            <div class="card">
                <img class="card-img-top img-responsive" src="{% static 'images/info-sec.jpg' %}" alt="Information Security">

            </div>

            <div class="card">
                <img class="card-img-top img-responsive" src="{% static 'images/ceo-fraud.jpg' %}" alt="Business Email Compromise">

            </div>


        </div>
    </div>

</div>
