<!-- #component:dashboard/domain-cookies:start -->
<div class="card expand-card">
    <div class="card-header" id="heading10" style="border-bottom:0;">
        <div class="d-flex">
            <div class="m-r-20 align-self-center cat-icon-circle">

                {% if report.http_cookies_rating == "A" %}
                <h1><i id="icon-cookies-score" class="fas fa-check-circle text-passed" ></i></h1>
                {% elif report.http_cookies_rating in "EF" %}
                <h1><i id="icon-cookies-score" class="fas fa-exclamation-circle text-danger" ></i></h1>
                {% else %}
                <h1><i id="icon-cookies-score" class="fas fa-exclamation-circle text-warning" ></i></h1>
                {% endif %}

            </div>
            <div>
                <h4 class="card-title">Application Cookies</h4>
                <h6 class="card-subtitle">Cookies contain very sensitive information that can allow attackers can impersonate users, or escalate their privileges on your application.</h6>
            </div>
        </div>
        <button class="btn btn-success" type="button" data-toggle="collapse"
                data-target="#div-domain-report-cookies" aria-expanded="false" aria-controls="div-domain-report-cookies"
                style="float:right;">View Results
        </button>
    </div>
    <div id="div-domain-report-cookies" class="collapse" aria-labelledby="heading10">
        <div class="card-body">
            <div class="table-responsive">
                <table class="custom table">
                    <thead>
                    <th style="width: 35%">Test</th>
                    <th style="width: 10%; text-align: center">Result</th>
                    <th style="width: 55%">Info</th>
                    </thead>
                </table>
                <table class="custom table">
                    <tbody>
                    {% for test in tests %}
                        {% if test.definition.category == "web_application" and "cookies" in test.definition.keywords and not test.state == 'not_available'  %}
                            <tr>
                                <td style="width: 35%">
                                    {{ test.definition.name }}
                                    <span data-toggle="tooltip" title="{{ test.definition.name }}" data-original-title="{{ test.definition.description }}">
                                            <i class="mdi mdi-information-outline"></i>
                                        </span>
                                </td>
                                <td style="width: 10%; text-align: center">
                                    {% if test.has_succeed %}
                                        <span class="badge A">passed</span>
                                    {% elif test.has_partially_succeed %}
                                        <span class="badge C">partial</span>
                                    {% elif test.has_failed %}
                                        <span class="badge E">failed</span>
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                                <td style="width: 55%">
                                    {{ test.message|safe }}
                                    {% if test.has_failed %}
                                        <br><small><a href="{% url 'remediation-cookies' %}"  target="_blank">remediation</a> </small>
                                     {% endif %}
                                </td>
                            </tr>
                            {% if test.data and test.data|length > 0 %}
                            <tr>
                                {% for d in test.data %}

                                {% endfor %}
                            </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- #component:dashboard/domain-cookies:end -->

