<!-- Legend -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-sm-12 ">
                        <div class="message-box">
                            <div class="message-widget">
                                <a href="javascript:void()">
                                    <div class="user-img"><span class="round A">A</span></div>
                                    <div class="mail-contnet">
                                        <h5>Excellent</h5> <span class="mail-desc">Optimal level of security is acheived. No action required.</span>
                                    </div>
                                </a>
                                <a href="javascript:void()">
                                    <div class="user-img"><span class="round A">B</span></div>
                                    <div class="mail-contnet">
                                        <h5>Good</h5> <span class="mail-desc">Minor remediations required to achieve an optimal level of security.</span>
                                    </div>
                                </a>
                                <a href="javascript:void()">
                                    <div class="user-img"></div>
                                    <div class="mail-contnet">
                                        <div class="progress-segment">
                                        <div class="item item1 seg5"></div>
                                        <div class="item item2 seg5"></div>
                                        <div class="item item3 seg5"></div>
                                    </div>
                                    </div>
                                </a>

                            </div>

                        </div>

                    </div>
                    <div class="col-lg-4 col-sm-12 ">
                        <div class="message-box">
                            <div class="message-widget">

                                <a href="javascript:void()">
                                    <div class="user-img"><span class="round C">C</span></div>
                                    <div class="mail-contnet">
                                        <h5>Needs Improvement</h5> <span class="mail-desc">A medium level of risk found in one or more assessment domains. </span>
                                    </div>
                                </a>
                                <a href="javascript:void()">
                                    <div class="user-img"><span class="round D">D</span></div>
                                    <div class="mail-contnet">
                                        <h5>Poor</h5> <span class="mail-desc">A high level of risk found and lack of implementaion of security standards.</span>
                                    </div>
                                </a>

                                <a href="javascript:void()">
                                    <div class="user-img"></div>
                                    <div class="mail-contnet">
                                        <div class="progress-segment">
                                        <div class="item item1 seg3"></div>
                                        <div class="item item2 seg3"></div>
                                        <div class="item item3 seg3"></div>
                                    </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12 ">
                        <div class="message-box">
                            <div class="message-widget">
                                <a href="javascript:void()">
                                    <div class="user-img"><span class="round E">E</span></div>
                                    <div class="mail-contnet">
                                        <h5>Very Poor</h5> <span class="mail-desc">Lacking in most security standards or already compromised.  </span>
                                    </div>
                                </a>
                                <a href="javascript:void()">
                                    <div class="user-img"><span class="round F">F</span></div>
                                    <div class="mail-contnet">
                                        <h5>Critical</h5> <span class="mail-desc">Immediate remediation required. A high level of risk and lack of security standards. </span>
                                    </div>
                                </a>
                                <a href="javascript:void()">
                                    <div class="user-img"></div>
                                    <div class="mail-contnet">
                                        <div class="progress-segment">
                                        <div class="item item1 seg0"></div>
                                        <div class="item item2 seg0"></div>
                                        <div class="item item3 seg0"></div>
                                    </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Legend -->
