{% if user.profile.on_trial_or_free_account %}
    {% if report and report.web_security_score < 3 %}
    <div class="alert alert-warning m-b-30  text-center">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <h3 class="text-warning">
            <i class="fa fa-exclamation-triangle"></i>
        </h3> Your domain is not protecting the privacy and security of visitors.
    </div>
    {% endif %}
{% endif %}
