<div id="modal-upgrade" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-upgrade" style="display: none;"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-upgrade-title">Upgrade Required</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">

                <p>An account upgrade is required to access these resources.</p>
                <h3>FROM $USD149 for 12 months access!!</h3>
                <br>
                <p>
                    Full Remediation Report<br>
                    12 Months Monitoring<br>
                    Cyber Security Resources
                </p>
                <h4>Protect your brand and enhance your security!!</h4>
            </div>
            <div class="modal-footer">
                <a class="btn btn-info waves-effect waves-light" href='{% url "subscribe" %}' id="btn-upgrade">Upgrade</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
