.left-sidebar {
    display: none;
}

.btn {
    display: none;
}

.noprint {
    display: none;
}

.collapse {
    display: block !important;
    height: auto !important;
}

.tab-content > .tab-pane {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
}
