{% extends "public/base_login.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block extra_css %}
<link href="{% static 'css/public/registration.css' %}" rel="stylesheet" type="text/css">
{% endblock extra_css %}

{% block page_content %}
<section class="login-register">
    <div class="auto-container">
        <div class="row register">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="card-header">
                        <h5><h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1></h5>
                    </div>

                    {% if token_fail %}
                        <div class="card-body">
                            {% url 'account_reset_password' as passwd_reset_url %}
                            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a
                                <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                        </div>
                    {% else %}
                        <div class="card-body">
                            {% if form %}
                                <div class="form-row">
                                <div class="col">
                                    <div class="input-group mb-5">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-lock" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        {% render_field form.password1 class="form-control" placeholder="Password" %}
                                        {{ form.password1.errors }}
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="input-group mb-5">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fa fa-lock" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        {% render_field form.password2 class="form-control" placeholder="Confirm" %}
                                        <div class="text-danger font-weight-bold">
                                        {{ form.password2.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <input class="theme-btn btn-style-one" type="submit" name="action" value="{% trans 'change password' %}"/
                            </div>
                            {% else %}
                                <p>{% trans 'You have successfully updated your password.' %}</p>
                            {% endif %}
                        </div>
                    {% endif %}

                    <div class="card-footer">
                        <p><a href="{% url 'home' %}">Home</a></p>
                    </div>
                </form>
        </div>
    </div>
</section>
{% endblock page_content %}


{% block extra_js %}

{% endblock extra_js %}
