{% extends "public/base_login.html" %}
{% load static %}
{% load widget_tweaks %}

{% block extra_css %}
<link href="{% static 'css/public/registration.css' %}" rel="stylesheet" type="text/css">
{% endblock extra_css %}

{% block page_content %}
<section class="login-register">
        <div class="row register">
        <div class="card login-box shadow">
            <div class="card-header">
                <h5>Password Reset</h5>
            </div>
            <div class="card-body">
                <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
            </div>
            <div class="card-footer">
                <p><a href="{% url 'home' %}">Home</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock page_content %}


{% block extra_js %}

{% endblock extra_js %}
