{% extends "private/base.html" %}

{% block extrajs %}{% endblock extrajs %}

{% block page_content %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Incident Response Readiness</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Resources</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Incident Response Readiness</a></li>
        </ol>
    </div>
</div>

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Incident Response Readiness</h4>
                <h6 class="card-subtitle">Information security policies to safeguard a company’s information assets</h6>

                <p>Incident Response is a crucial part of the cyber security framework. Ensuring that you have the processes and structure in place to deal with any security incident will enable you to mitigate damages and recover quickly.</p>
                <p>Security incidents are unavoidable. Preparations must be in place to quickly identify and
                    respond to an incident. Whether it is a lost laptop or a malicious insider, organizations must be
                 ready to respond. Having a plan available ahead of time is paramount to successfully
                    managing the situation. </p>
                <p>These resources will help you implement appropriate activities to take action regarding a detected cybersecurity incident. These documents should be tailored for you organisation and be regularly reviewed and updated.</p>

                <p>Included are Incident Response and Disaster Recovery templates. The principal difference is their primary objectives. The purpose of an incident response plan is to protect sensitive data during a security breach, while a disaster recovery plan serves to ensure continuity of business processes after a service disruption. A good practice is to document two plans separately.</p>

                <p>The example Incident Response Plans provide step by step instructional guides for handling a particular cyber-attack. Each playbook is a living document that must be regularly updated and reviewed.</p>
            </div>
        </div>
    </div>
</div>


<div class="row  p-b-30">
    <div class="col-md-12">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Incident Response Plan</h4>
                    <label class="badge badge-pill A py-1 px-2">recover</label>
                    <p>This document describes the overall plan for responding to information security incidents
                        . It defines the roles and responsibilities of participants,
                        characterization of incidents, relationships to other policies and procedures, and reporting
                        requirements. The goal is to react to respond
                        appropriately to the incident, communicate the results and risk to all stakeholders, and
                        reduce the likelihood of the incident from recurring.</p>
                </div>
                <div class="card-footer"><a href="/download/bite-sized/bite-sized_01.pdf" class="btn btn-info waves-effect waves-light" data-toggle="tooltip" title="Download policy (docx)" data-original-title="Download policy (docx)"><span class="btn-label"><i class="mdi mdi-download"></i></span>Download</a> </div>
            </div>
            <div class="card ">
                <div class="card-body">

                    <h4 class="card-title">Disaster Recovery Plan</h4>
                    <label class="badge badge-pill A py-1 px-2">recover</label>
                    <p>The purpose for this document is to inventory all of the IT infrastructure and capture all of the information required to facilitate the recovery from a disaster. It documents the steps that an organisation will follow in the event that a disaster occurs to restore network integrity and normal operations in a minimum time frame.</p>
                </div>
                <div class="card-footer"><a href="/download/bite-sized/bite-sized_01.pdf" class="btn btn-info waves-effect waves-light" data-toggle="tooltip" title="Download policy (docx)" data-original-title="Download policy (docx)"><span class="btn-label"><i class="mdi mdi-download"></i></span>Download</a> </div>
            </div>
            <div class="card ">
                <div class="card-body">

                    <h4 class="card-title">Business Continuity Plan</h4>
                    <label class="badge badge-pill A py-1 px-2">recover</label>
                    <p>This policy provides guidance to assist personnel in performing their respective duties and responsibilities to ensure the availability of critical services in the event of disruptions. It ensures the maintenance or recovery of operations, including services to customers, when confronted with adverse events such as natural disasters, technological failures, human error, or terrorism.   </p>
                </div>
                <div class="card-footer"><a href="/download/bite-sized/bite-sized_01.pdf" class="btn btn-info waves-effect waves-light" data-toggle="tooltip" title="Download policy (docx)" data-original-title="Download policy (docx)"><span class="btn-label"><i class="mdi mdi-download"></i></span>Download</a> </div>
            </div>

        </div>
    </div>
</div>


<div class="row p-b-30">
    <div class="col-12">
        <div class="card-deck">
          <div class="card ">
                <div class="card-body">

                    <h4 class="card-title">Business Impact Analysis</h4>

                    <p>This template helps todetermine and evaluate the potential effects of an interruption to critical business operations as a result of a disaster, accident or emergency. A BIA is an essential component of an organization's business continuance plan;</p>
                </div>
                <div class="card-footer"><a href="/download/bite-sized/bite-sized_01.pdf" class="btn btn-info waves-effect waves-light" data-toggle="tooltip" title="Download policy (docx)" data-original-title="Download policy (docx)"><span class="btn-label"><i class="mdi mdi-download"></i></span>Download</a> </div>
            </div>
            <div class="card ">
                <div class="card-body">

                    <h4 class="card-title">Business Impact Analysis</h4>

                    <p>This template helps to determine and evaluate the potential effects of an interruption to critical business operations as a result of a disaster, accident or emergency. A BIA is an essential component of an organization's business continuance plan;</p>
                </div>
                <div class="card-footer"><a href="/download/bite-sized/bite-sized_01.pdf" class="btn btn-info waves-effect waves-light" data-toggle="tooltip" title="Download policy (docx)" data-original-title="Download policy (docx)"><span class="btn-label"><i class="mdi mdi-download"></i></span>Download</a> </div>
            </div>
           <div class="card card-inverse bg-dark">
                <div class="card-body">
                    <i class="mdi mdi-umbrella text-white fa-2x"></i>
                    <h3 class="text-white">Cyber Security Insurance</h3>

                    <p class="text-white">
                        Cyber and data risks insurance is designed to support and protect your business if it experiences a data breach. It covers you for damages you’re legally liable to pay to affected parties and the costs that are associated with cyber crime.
                    </p>

                </div>
                <div class="card-footer"><a href="#" class="btn btn-secondary">Read More</a> </div>
            </div>
        </div>
    </div>
</div>
<div class="row p-b-30">
    <div class="col-12">
        <div class="card-deck">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Incident Response - Phishing</h4>
                    <p class="card-text">This provides an example of an incident response playbook to handle a phishing attack.</p>

                </div>
                <div class="card-footer"><a href="/download/bite-sized/bite-sized_01.pdf" class="btn btn-info waves-effect waves-light" data-toggle="tooltip" title="Download policy (docx)" data-original-title="Download policy (docx)"><span class="btn-label"><i class="mdi mdi-download"></i></span>Download</a> </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Incident Response - Denial of Service</h4>
                    <p class="card-text">This provides an example of an incident response playbook to handle a Denial of Service (DOS) attack.</p>
                </div>
                <div class="card-footer"><a href="/download/bite-sized/bite-sized_01.pdf" class="btn btn-info waves-effect waves-light" data-toggle="tooltip" title="Download policy (docx)" data-original-title="Download policy (docx)"><span class="btn-label"><i class="mdi mdi-download"></i></span>Download</a> </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Incident Response - Data Leakage</h4>
                    <p class="card-text">This provides an example of an incident response playbook to handle a Data Leakage incident.</p>
                </div>
                <div class="card-footer"><a href="/download/bite-sized/bite-sized_01.pdf" class="btn btn-info waves-effect waves-light" data-toggle="tooltip" title="Download policy (docx)" data-original-title="Download policy (docx)"><span class="btn-label"><i class="mdi mdi-download"></i></span>Download</a> </div>
            </div>
        </div>
    </div>
</div>


<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
<!-- #location:dashboard/resources-incident-response -->
{% endblock page_content %}
