{% extends "private/base.html" %}
{% load static %}
{% block extrajs %}{% endblock extrajs %}

{% block page_content %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Social Media Usage Policy Template</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Resources</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Policy templates</a></li>
            <li class="breadcrumb-item active">Social Media Usage Policy</li>
        </ol>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="">
        <div class="col-12">
            <div class="card">
                <div class="card-body">


                    <div class="entry-content article-content">
                        <h2>Employee social media policy</h2>     <br>
                        <p>This sample&nbsp;<strong>Employee Social Media Policy&nbsp;</strong>is ready to be tailored
                            to your company’s needs and should be considered a starting point for establishing policies
                            for use of social media in the workplace by employees.</p>
                        <div class="p-t-20 text-right">
                            <button class="btn btn-outline-info waves-effect waves-light" type="button"><span
                                    class="btn-label"><i class="mdi mdi-download"></i></span>Download
                            </button>
                        </div>

                        <hr>


                        <h2>Policy brief &amp; purpose</h2>
                        <p><span style="font-weight: 400;">Our </span><b>social media company policy</b><span
                                style="font-weight: 400;"> provides a framework for using social media. Social media is a place where people exchange information, opinions and experiences to learn, develop and have fun. Whether employees are handling a corporate account or use one of their own, they should remain productive. This policy provides practical advice to avoid issues that might arise by careless use of social media in the workplace.</span>
                        </p>
                        <h2>Scope</h2>
                        <p><span style="font-weight: 400;">We expect all our employees to follow this policy. </span>
                        </p>
                        <h2>Policy elements</h2>
                        <p><span style="font-weight: 400;">“Social media” refers to a variety of online communities like blogs, social networks, chat rooms and forums. This policy covers all of them.</span>
                        </p>
                        <p><span style="font-weight: 400;">We consider two different elements: using personal social media at work and representing our company through social media. </span>
                        </p>
                        <h3>Using personal social media</h3>
                        <p><span style="font-weight: 400;">We allow employees to access their personal accounts at work. But, we expect them to act responsibly and ensure their productivity isn&#8217;t affected. Using social media excessively while at work can reduce efficiency and concentration. Whether employees are using their accounts for business or personal purposes, they may easily get sidetracked by the vast amount of available content. </span>
                        </p>
                        <p>We advise our employees to:</p>
                        <ul>
                            <li><span style="font-weight: 400;"><strong>Use their common sense</strong>. If employees neglect their job duties to spend time on social media, their decline in productivity will show on their performance reviews. </span>
                            </li>
                        </ul>
                        <ul>
                            <li><strong>Ensure others know that personal account or statements don&#8217;t represent our
                                company</strong>. Employees shouldn&#8217;t state or imply that their personal opinions
                                and content are authorized or endorsed by our company. We advise using a disclaimer such
                                as &#8220;opinions are my own&#8221; to avoid misunderstandings.
                            </li>
                        </ul>
                        <ul>
                            <li><strong>Avoid sharing intellectual property</strong> like trademarks on a personal
                                account without approval. Confidentiality policies and laws always apply.
                            </li>
                        </ul>
                        <ul>
                            <li><strong>Avoid any defamatory, offensive or derogatory content</strong>. It may be
                                considered as a violation of our company’s anti-harassment policy, if directed towards
                                colleagues, clients or partners.
                            </li>
                        </ul>
                        <h3>Representing our company</h3>
                        <p><span style="font-weight: 400;">Some employees represent our company by handling corporate social media accounts or speak on our company&#8217;s behalf. We expect them to act carefully and responsibly to protect our company’s image and reputation. Employees should: </span>
                        </p>
                        <ul>
                            <li style="font-weight: 400;"><strong>Be respectful, polite and patient, </strong>when
                                engaging in conversations on our company&#8217;s behalf. They should be extra careful
                                when making declarations or promises towards customers and stakeholders
                            </li>
                            <li style="font-weight: 400;"><strong>Avoid speaking on matters outside their field of
                                expertise</strong> when possible. Everyone should be careful not to answer questions or
                                make statements that fall under somebody else’s responsibility
                            </li>
                            <li style="font-weight: 400;"><strong>Follow our confidentiality policy and data protection
                                policy and observe laws on copyright, trademarks, plagiarism and fair use.</strong></li>
                            <li style="font-weight: 400;"><strong>Inform our [<em>PR/Marketing department</em>]</strong>
                                when they&#8217;re about to share any major-impact content
                            </li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;"><strong>Avoid deleting or ignoring comments</strong> for no reason. They should listen and reply to criticism.</span>
                            </li>
                            <li style="font-weight: 400;"><strong>Never post discriminatory, offensive or
                                libelous </strong>content and commentary
                            </li>
                            <li style="font-weight: 400;"><span
                                    style="font-weight: 400;"><strong>Correct or remove</strong> any misleading or false content as quickly as possible</span>
                            </li>
                        </ul>
                        <h2>Disciplinary Consequences</h2>
                        <p><span style="font-weight: 400;">We&#8217;ll monitor all social media postings on our corporate account.</span>
                        </p>
                        <p><span style="font-weight: 400;">We may have to take disciplinary action leading up to and including termination if employees do not follow this policy&#8217;s guidelines. Examples of non-conformity with the employee social media policy include but are not limited to:</span>
                        </p>
                        <ul>
                            <li style="font-weight: 400;">Disregarding job responsibilities and deadlines to use social
                                media
                            </li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Disclosing confidential information through personal or corporate accounts</span>
                            </li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Directing offensive comments towards other members of the online community</span>
                            </li>
                        </ul>
                        <p>&nbsp;</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->
<!-- #location:dashboard/policies-social-media -->
{% endblock page_content %}
