{% extends "private/base.html" %}
{% load static %}
{% block extrajs %}{% endblock extrajs %}

{% block page_content %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Remediation</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Remediation</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Email Security</a></li>
            <li class="breadcrumb-item active">Sender Policy Framework</li>
        </ol>
    </div>
</div>

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="container-fliud">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="entry-content article-content p-l-10">
                        <h2>Company Cyber Security Policy Template</h2> <br>
                        <p>This Company cyber security policy template is ready to be tailored to your company’s needs and should be considered a starting point for setting up your employment policies.</p>
                        <div class="p-t-20 text-right"><button class="btn btn-outline-info waves-effect waves-light" type="button"><span class="btn-label"><i class="mdi mdi-download"></i></span>Download</button></div>

                        <hr>

                        <h2 class="p-t-30"><u>Policy brief &amp; purpose</u></h2>
                        <p>Our company cyber security policy outlines our guidelines and provisions for preserving the security of our data and technology infrastructure.</p>
                        <p>The more we rely on technology to collect, store and manage information, the more vulnerable we become to severe security breaches. Human errors, hacker attacks and system malfunctions could cause great financial damage and may jeopardize our company’s reputation.</p>
                        <p>For this reason, we have implemented a number of security measures. We have also prepared instructions that may help mitigate security risks. We have outlined both provisions in this policy.</p>
                        <h2><u>Scope</u></h2>
                        <p>This policy applies to all our employees, contractors, volunteers and anyone who has permanent or temporary access to our systems and hardware.</p>
                        <h2><u>Policy elements</u></h2>
                        <h3 class="p-t-20">Confidential data</h3>
                        <p>Confidential data is secret and valuable. Common examples are:</p>
                        <ul>
                            <li>Unpublished financial information</li>
                            <li>Data of customers/partners/vendors</li>
                            <li>Patents, formulas or new technologies</li>
                            <li>Customer lists (existing and prospective)</li>
                        </ul>
                        <p>All employees are obliged to protect this data. In this policy, we will give our employees instructions on how to avoid security breaches.</p>
                        <h3>Protect personal and company devices</h3>
                        <p>When employees use their digital devices to access company emails or accounts, they introduce security risk to our data. We advise our employees to keep both their personal and company-issued computer, tablet and cell phone secure. They can do this if they:</p>
                        <ul>
                            <li>Keep all devices password protected.</li>
                        </ul>
                        <ul>
                            <li>Choose and upgrade a complete antivirus software.</li>
                        </ul>
                        <ul>
                            <li>Ensure they do not leave their devices exposed or unattended.</li>
                        </ul>
                        <ul>
                            <li>Install security updates of browsers and systems monthly or as soon as updates are available.</li>
                        </ul>
                        <ul>
                            <li>Log into company accounts and systems through secure and private networks only.</li>
                        </ul>
                        <p>We also advise our employees to avoid accessing internal systems and accounts from other people’s devices or lending their own devices to others.</p>
                        <p>When new hires receive company-issued equipment they will receive instructions for:</p>
                        <ul>
                            <li>[<em>Disk encryption setup</em>]</li>
                        </ul>
                        <ul>
                            <li>[<em>Password management tool setup</em>]</li>
                        </ul>
                        <ul>
                            <li>[<em>Installation of antivirus/ anti-malware software</em>]</li>
                        </ul>
                        <p>They should follow instructions to protect their devices and refer to our [<em>Security Specialists/ Network Engineers</em>] if they have any questions.</p>
                        <h3>Keep emails safe</h3>
                        <p>Emails often host scams and malicious software (e.g. worms.) To avoid virus infection or data theft, we instruct employees to:</p>
                        <ul>
                            <li>Avoid opening attachments and clicking on links when the content is not adequately explained (e.g. “watch this video, it’s amazing.”)</li>
                        </ul>
                        <ul>
                            <li>Be suspicious of clickbait titles (e.g. offering prizes, advice.)</li>
                        </ul>
                        <ul>
                            <li>Check email and names of people they received a message from to ensure they are legitimate.</li>
                        </ul>
                        <ul>
                            <li>Look for inconsistencies or give-aways (e.g. grammar mistakes, capital letters, excessive number of exclamation marks.)</li>
                        </ul>
                        <p>If an employee isn’t sure that an email they received is safe, they can refer to our [<em>IT Specialist</em>.]</p>
                        <h3>Manage passwords properly</h3>
                        <p>Password leaks are dangerous since they can compromise our entire infrastructure. Not only should passwords be secure so they won’t be easily hacked, but they should also remain secret. For this reason, we advice our employees to:</p>
                        <ul>
                            <li>Choose passwords with at least eight characters (including capital and lower-case letters, numbers and symbols) and avoid information that can be easily guessed (e.g. birthdays.)</li>
                        </ul>
                        <ul>
                            <li>Remember passwords instead of writing them down. If employees need to write their passwords, they are obliged to keep the paper or digital document confidential and destroy it when their work is done.</li>
                        </ul>
                        <ul>
                            <li>Exchange credentials only when absolutely necessary. When exchanging them in-person isn’t possible, employees should prefer the phone instead of email, and only if they personally recognize the person they are talking to.</li>
                        </ul>
                        <ul>
                            <li>Change their passwords every two months.</li>
                        </ul>
                        <p>Remembering a large number of passwords can be daunting. We will purchase the services of a password management tool which generates and stores passwords. Employees are obliged to create a secure password for the tool itself, following the abovementioned advice.</p>
                        <h3>Transfer data securely</h3>
                        <p>Transferring data introduces security risk. Employees must:</p>
                        <ul>
                            <li>Avoid transferring sensitive data (e.g. customer information, employee records) to other devices or accounts unless absolutely necessary. When mass transfer of such data is needed, we request employees to ask our [<em>Security Specialists</em>] for help.</li>
                        </ul>
                        <ul>
                            <li>Share confidential data over the company network/ system and not over public Wi-Fi or private connection.</li>
                        </ul>
                        <ul>
                            <li>Ensure that the recipients of the data are properly authorized people or organizations and have adequate security policies.</li>
                        </ul>
                        <ul>
                            <li>Report scams, privacy breaches and hacking attempts</li>
                        </ul>
                        <p>Our [<em>IT Specialists/ Network Engineers</em>] need to know about scams, breaches and malware so they can better protect our infrastructure. For this reason, we advise our employees to report perceived attacks, suspicious emails or phishing attempts as soon as possible to our specialists. Our [<em>IT Specialists/ Network Engineers</em>] must investigate promptly, resolve the issue and send a companywide alert when necessary.</p>
                        <p>Our Security Specialists are responsible for advising employees on how to detect scam emails. We encourage our employees to reach out to them with any questions or concerns.</p>
                        <h3>Additional measures</h3>
                        <p>To reduce the likelihood of security breaches, we also instruct our employees to:</p>
                        <ul>
                            <li>Turn off their screens and lock their devices when leaving their desks.</li>
                        </ul>
                        <ul>
                            <li>Report stolen or damaged equipment as soon as possible to [<em>HR/ IT Department</em>].</li>
                        </ul>
                        <ul>
                            <li>Change all account passwords at once when a device is stolen.</li>
                        </ul>
                        <ul>
                            <li>Report a perceived threat or possible security weakness in company systems.</li>
                        </ul>
                        <ul>
                            <li>Refrain from downloading suspicious, unauthorized or illegal software on their company equipment.</li>
                        </ul>
                        <ul>
                            <li>Avoid accessing suspicious websites.</li>
                        </ul>
                        <p>We also expect our employees to comply with our social media and internet usage policy.</p>
                        <p>Our [<em>Security Specialists/ Network Administrators</em>] should:</p>
                        <ul>
                            <li>Install firewalls, anti malware software and access authentication systems.</li>
                            <li>Arrange for security training to all employees.</li>
                            <li>Inform employees regularly about new scam emails or viruses and ways to combat them.</li>
                            <li>Investigate security breaches thoroughly.</li>
                            <li>Follow this policies provisions as other employees do.</li>
                        </ul>
                        <p>Our company will have all physical and digital shields to protect information.</p>
                        <h3>Remote employees</h3>
                        <p>Remote employees must follow this policy’s instructions too. Since they will be accessing our company’s accounts and systems from a distance, they are obliged to follow all data encryption, protection standards and settings, and ensure their private network is secure.</p>
                        <p>We encourage them to seek advice from our [<em>Security Specialists/ IT Administrators.</em>]</p>
                        <h2>Disciplinary Action</h2>
                        <p>We expect all our employees to always follow this policy and those who cause security breaches may face disciplinary action:</p>
                        <ul>
                            <li>First-time, unintentional, small-scale security breach: We may issue a verbal warning and train the employee on security.</li>
                            <li>Intentional, repeated or large scale breaches (which cause severe financial or other damage): We will invoke more severe disciplinary action up to and including termination.<br>
                                We will examine each incident on a case-by-case basis.</li>
                        </ul>
                        <p>Additionally, employees who are observed to disregard our security instructions will face progressive discipline, even if their behavior hasn’t resulted in a security breach.</p>
                        <h3>Take security seriously</h3>
                        <p>Everyone, from our customers and partners to our employees and contractors, should feel that their data is safe. The only way to gain their trust is to proactively protect our systems and databases. We can all contribute to this by being vigilant and keeping cyber security top of mind.</p>
                        <p>&nbsp;</p>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- #location:dashboard/policy-cybersec -->
{% endblock page_content %}
