{% extends "private/base.html" %}
{% load static %}
{% block extrajs %}{% endblock extrajs %}

{% block page_content %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Employee Confidentiality Policy</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Resources</a></li>
            <li class="breadcrumb-item"><a href="policy-templates.php">Policy templates</a></li>
            <li class="breadcrumb-item active">Employee Confidentiality Policy</li>
        </ol>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="">
    <div class="col-12">
        <div class="card">
            <div class="card-body">








<div class="entry-content article-content">
<h2>Employee Confidentiality Policy</h2>
<p>This <strong>Employee Confidentiality Policy Template</strong> is ready to be tailored to your company’s needs and should be considered a starting point for setting up your employment policies.</p>
<div class="p-t-20 text-right"><button class="btn btn-outline-info waves-effect waves-light" type="button"><span class="btn-label"><i class="mdi mdi-download"></i></span>Download</button></div>

<hr>




            <h2>Policy brief &amp; purpose</h2>
            <p><span style="font-weight: 400;">We designed our <strong>company </strong></span><strong>confidentiality policy</strong><span style="font-weight: 400;"> to explain how we expect our employees to treat confidential information. Employees will unavoidably receive and handle personal and private information about clients, partners and our company. We want to make sure that this information is well-protected.</span></p>
            <p>We must protect this information for two reasons. It may:</p>
            <ul>
            <li>Be legally binding (e.g. sensitive customer data.)</li>
            <li>Constitute the backbone of our business, giving us a competitive advantage (e.g. business processes.)</li>
            </ul>
            <h2>Scope</h2>
            <p>This policy affects all employees, including board members, investors, contractors and volunteers, who may have access to confidential information.</p>
            <h2>Policy elements</h2>
            <p><span style="font-weight: 400;">Confidential and proprietary information is secret, valuable, expensive and/or easily replicated. Common examples of confidential information are:</span></p>
            <ul>
            <li style="font-weight: 400;">Unpublished financial information</li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Data of Customers/Partners/Vendors</span></li>
            <li style="font-weight: 400;">Patents, formulas or new technologies</li>
            <li style="font-weight: 400;">Customer lists (existing and prospective)</li>
            <li style="font-weight: 400;">Data entrusted to our company by external parties</li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Pricing/marketing and other undisclosed strategies</span></li>
            <li style="font-weight: 400;">Documents and processes explicitly marked as confidential</li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Unpublished goals, forecasts and initiatives marked as confidential</span></li>
            </ul>
            <p><span style="font-weight: 400;">Employees may have various levels of authorized access to confidential information.</span></p>
            <h3>What employees should do:</h3>
            <ul>
            <li>Lock or secure confidential information at all times</li>
            <li>Shred confidential documents when they’re no longer needed</li>
            <li>Make sure they only view confidential information on secure devices</li>
            <li>Only disclose information to other employees when it&#8217;s necessary and authorized</li>
            <li>Keep confidential documents inside our company&#8217;s premises unless it&#8217;s absolutely necessary to move them</li>
            </ul>
            <h3>What employees shouldn&#8217;t do:</h3>
            <ul>
            <li style="font-weight: 400;">Use confidential information for any personal benefit or profit</li>
            <li style="font-weight: 400;">Disclose confidential information to anyone outside of our company</li>
            <li style="font-weight: 400;">Replicate confidential documents and files and store them on insecure devices</li>
            </ul>
            <p>When employees stop working for our company, they&#8217;re obliged to return any confidential files and delete them from their personal devices.</p>
            <h3><strong>Confidentiality Measures</strong></h3>
            <p><span style="font-weight: 400;">We&#8217;ll take measures to ensure that confidential information is well protected. We&#8217;ll:</span></p>
            <ul>
            <li style="font-weight: 400;">Store and lock paper documents</li>
            <li style="font-weight: 400;"><span style="font-weight: 400;">Encrypt electronic information and safeguard databases</span></li>
            <li style="font-weight: 400;">Ask employees to sign non-compete and/or non-disclosure agreements (NDAs)</li>
            <li style="font-weight: 400;">Ask for authorization by senior management to allow employees to access certain confidential information</li>
            </ul>
            <h3>Exceptions</h3>
            <p><span style="font-weight: 400;">Confidential information may occasionally have to be disclosed for legitimate reasons. Examples are:</span></p>
            <ul>
            <li>If a regulatory body requests it as part of an investigation or audit</li>
            <li>If our company examines a venture or partnership that requires disclosing some information (within legal boundaries)</li>
            </ul>
            <p><span style="font-weight: 400;">In such cases, employees involved should document their disclosure procedure and collect all needed authorizations. We&#8217;re bound to avoid disclosing more information than needed.</span></p>
            <h2>Disciplinary Consequences</h2>
            <p><span style="font-weight: 400;">Employees who don&#8217;t respect our confidentiality policy will face disciplinary and, possibly, legal action.</span></p>
            <p>We&#8217;ll investigate every breach of this policy. We&#8217;ll terminate any employee who willfully or regularly breaches our confidentiality guidelines for personal profit. We may also have to punish any unintentional breach of this policy depending on its frequency and seriousness. We&#8217;ll terminate employees who repeatedly disregard this policy, even when they do so unintentionally.</p>
            <p><span style="font-weight: 400;">This policy is binding even after separation of employment.</span></p>
            <p>&nbsp;</p>

          </div>




</div>

</div>



            </div>
        </div>
    </div>

<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
<!-- #location:dashboard/policies-confidentiality -->
{% endblock page_content %}
