{% extends "private/base.html" %}
{% load static %}
{% block extrajs %}{% endblock extrajs %}

{% block page_content %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Employee Security Policies</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Resources</a></li>
            <li class="breadcrumb-item active">Policies</li>
        </ol>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Employee Security Policies</h4>
                <h6 class="card-subtitle">Workplace security policies to outline employee's responsibilities </h6>


                <p>Written information security policies are essential to organisational information security. This holds true for both large and small businesses, as loose security standards can cause loss or theft of data and personal information. Written policies give assurances to employees, visitors, contractors, or customers that your business takes securing their information seriously.</p>
                <p>Information security policies are written instructions for keeping information secure. Policies should include guidance on passwords, device use, Internet use, information classification, physical security—as in securing information physically—and reporting requirements.</p>

                <p>Having documented security policies that clearly define your organisation’s position on security can be of critical importance in the event of a data breach and/or legal actions. They are increasingly required to demonstrate security best pactices for contractual obligations. In short they are just good practice.</p>

               <p>These policy templates cover everything you need for rapid development and implementation of an information security strategy for your organisation.</p>

                <p>It’s important to note that these templates are just a starting point and that you should customise them to fit your organisation. Each policy should be a living document that must be regularly updated and reviewed.</p>
            </div>
        </div>
    </div>
</div>

<div class="row p-b-30">
    <div class="col-12">
        <div class="card-deck-custom">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Acceptable Use Policy</h4>
                    <p class="card-text">Defines acceptable use of equipment and computing services, and the appropriate employee security measures to protect the organization’s corporate resources and proprietary information.</p>

                </div>
                <div class="card-footer">
                <a href="/download/bite-sized/bite-sized_01.pdf" class="btn btn-info waves-effect waves-light" data-toggle="tooltip" title="Download policy (docx)" data-original-title="Download policy (docx)"><span class="btn-label"><i class="mdi mdi-download"></i></span>Download</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Email Usage Policy</h4>
                    <p class="card-text">Defines the requirements for proper use of the company email system and make users aware of what is considered acceptable and unacceptable use of its email system.</p>
                </div>
                <div class="card-footer"><a href="/download/bite-sized/bite-sized_01.pdf" class="btn btn-info waves-effect waves-light" data-toggle="tooltip" title="Download policy (docx)" data-original-title="Download policy (docx)"><span class="btn-label"><i class="mdi mdi-download"></i></span>Download</a></div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Internet Usage Policy</h4>
                    <p class="card-text">Defines the requirements for proper use of the company’s internet connection, network and equipment. </p>
                </div>
                <div class="card-footer"><a href="/download/bite-sized/bite-sized_01.pdf" class="btn btn-info waves-effect waves-light" data-toggle="tooltip" title="Download policy (docx)" data-original-title="Download policy (docx)"><span class="btn-label"><i class="mdi mdi-download"></i></span>Download</a></div>
            </div>
        </div>
    </div>
</div>
<div class="row p-b-30">
    <div class="col-12">
        <div class="card-deck-custom">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Confidentiality & Data Classification Policy </h4>
                    <p class="card-text">Defines how we expect our employees to treat confidential information about clients, partners and our company. .</p>

                </div>
                <div class="card-footer"><a href="/download/bite-sized/bite-sized_01.pdf" class="btn btn-info waves-effect waves-light" data-toggle="tooltip" title="Download policy (docx)" data-original-title="Download policy (docx)"><span class="btn-label"><i class="mdi mdi-download"></i></span>Download</a></div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Remote Access Policy</h4>
                    <p class="card-text">Defines standards for connecting to the organization’s network from any host or network external to the organization.</p>
                </div>
                <div class="card-footer"><a href="/download/bite-sized/bite-sized_01.pdf" class="btn btn-info waves-effect waves-light" data-toggle="tooltip" title="Download policy (docx)" data-original-title="Download policy (docx)"><span class="btn-label"><i class="mdi mdi-download"></i></span>Download</a></div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Bring Your Own Device (BYOD) policy</h4>
                    <p class="card-text">Defines the requirements for proper use of employee owned mobile devices at work. </p>
                </div>
                <div class="card-footer"><a href="/download/bite-sized/bite-sized_01.pdf" class="btn btn-info waves-effect waves-light" data-toggle="tooltip" title="Download policy (docx)" data-original-title="Download policy (docx)"><span class="btn-label"><i class="mdi mdi-download"></i></span>Download</a></div>
            </div>
        </div>
    </div>
</div>
<div class="row p-b-30">
    <div class="col-12">
        <div class="card-deck-custom">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Social Media Policy </h4>
                    <p class="card-text">Defines how we expect our employees to use Social Media and in relation to their role.</p>

                </div>
                <div class="card-footer"><a href="/download/bite-sized/bite-sized_01.pdf" class="btn btn-info waves-effect waves-light" data-toggle="tooltip" title="Download policy (docx)" data-original-title="Download policy (docx)"><span class="btn-label"><i class="mdi mdi-download"></i></span>Download</a></div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Password Protection Policy</h4>
                    <p class="card-text">Defines the standard for the creation of strong passwords, the protection of those passwords, and the frequency of change.</p>
                </div>
                <div class="card-footer"><a href="/download/bite-sized/bite-sized_01.pdf" class="btn btn-info waves-effect waves-light" data-toggle="tooltip" title="Download policy (docx)" data-original-title="Download policy (docx)"><span class="btn-label"><i class="mdi mdi-download"></i></span>Download</a></div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Clear Desk Policy</h4>
                    <p class="card-text">The purpose of this document is to define rules to prevent unauthorized access to information in workplaces, as well as to shared facilities and equipment. </p>
                </div>
                <div class="card-footer"><a href="/download/bite-sized/bite-sized_01.pdf" class="btn btn-info waves-effect waves-light" data-toggle="tooltip" title="Download policy (docx)" data-original-title="Download policy (docx)"><span class="btn-label"><i class="mdi mdi-download"></i></span>Download</a></div>
            </div>
        </div>
    </div>
</div>




<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
<!-- #location:dashboard/policies-email-usage -->
{% endblock page_content %}
