{% extends "private/base.html" %}
{% load static %}
{% block extrajs %}{% endblock extrajs %}

{% block page_content %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Internet Usage Policy Template</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Resources</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Policy templates</a></li>
            <li class="breadcrumb-item active">Internet Usage Policy</li>
        </ol>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="entry-content article-content">
                        <h2>Internet Usage Policy Template</h2>     <br>
                        <p>This<strong> Employee Internet Usage Policy</strong>&nbsp;is ready to be tailored for your
                            company’s needs and should be considered a starting point for setting up your policies&nbsp;regarding&nbsp;computer
                            usage for employees. May also be called <strong>Employee Internet Policy</strong>, <strong>Company
                                Internet Policy</strong> or <strong>Computer Usage Policy</strong>.</p>
                        <div class="p-t-20 text-right">
                            <button class="btn btn-outline-info waves-effect waves-light" type="button"><span
                                    class="btn-label"><i class="mdi mdi-download"></i></span>Download
                            </button>
                        </div>

                        <hr>


                        <h2 class="p-t-20"><u>Policy brief &amp; purpose</u></h2>
                        <p>Our employee internet usage policy outlines our guidelines for using our company’s internet
                            connection, network and equipment. We want to avoid inappropriate or illegal internet use
                            that creates risks for our company’s legality and reputation.</p>
                        <h2><u>Scope</u></h2>
                        <p>This employee internet usage policy applies to all our employees, contractors, volunteers and
                            partners who access our network and computers.</p>
                        <h2><u>Employee internet usage policy elements</u></h2>
                        <h3 class="p-t-20">What is appropriate employee internet usage?
                        </h3>
                        <p>Our employees are advised to use our company’s internet connection for the following
                            reasons:</p>
                        <ul>
                            <li>To complete their job duties.</li>
                            <li>To seek out information that they can use to improve their work.</li>
                            <li>To access their social media accounts, while conforming to our social media policy.</li>
                        </ul>
                        <p>We don’t want to restrict our employees’ access to websites of their choice, but we expect
                            our employees to exercise good judgement and remain productive at work while using the
                            internet.</p>
                        <p>Any use of our network and connection must follow our confidentiality and data protection
                            policy.</p>
                        <p>Employees should:</p>
                        <ul>
                            <li>Keep their passwords secret at all times.</li>
                            <li>Log into their corporate accounts only from safe devices.</li>
                            <li>Use strong passwords to log into work-related websites and services.</li>
                        </ul>
                        <h3>What is inappropriate employee internet usage?</h3>
                        <p>Our employees mustn’t use our network to:</p>
                        <ul>
                            <li>Download or upload obscene, offensive or illegal material.</li>
                            <li>Send confidential information to unauthorized recipients.</li>
                            <li>Invade another person’s privacy and sensitive information.</li>
                            <li>Download or upload movies, music and other copyrighted material and software.</li>
                            <li>Visit potentially dangerous websites that can compromise the safety of our network and
                                computers.
                            </li>
                            <li>Perform unauthorized or illegal actions, like hacking, fraud, buying/selling illegal
                                goods and more.
                            </li>
                        </ul>
                        <p>We also advise our employees to be careful when downloading and opening/executing files and
                            software. If they’re unsure if a file is safe, they should ask [<em>their supervisor/ IT
                                manager/ etc.</em>]</p>
                        <p>Our company may install anti-virus and disk encryption software on our company computers.
                            Employees may not deactivate or configure settings and firewalls without managerial
                            approval.</p>
                        <p>We won’t assume any responsibility if employee devices are infected by malicious software, or
                            if their personal data are compromised as a result of inappropriate employee use.</p>
                        <h3>Company-issued equipment</h3>
                        <p>We expect our employees to respect and protect our company’s equipment. “Company equipment”
                            in this computer usage policy for employees includes company-issued phones, laptops, tablets
                            and any other electronic equipment, and belongs to our company.</p>
                        <p>We advise our employees to lock their devices in their desks when they’re not using them. Our
                            employees are responsible for their equipment whenever they take it out of their
                            offices.</p>
                        <h3>Email</h3>
                        <p>Our employees can use their corporate email accounts for both work-related and personal
                            purposes as long as they don’t violate this policy’s rules. Employees shouldn’t use their
                            corporate email to:</p>
                        <ul>
                            <li>Register to illegal, unsafe, disreputable or suspect websites and services.</li>
                            <li>Send obscene, offensive or discriminatory messages and content.</li>
                            <li>Send unauthorized advertisements or solicitation emails.</li>
                            <li>Sign up for a competitor’s services unless authorized.</li>
                        </ul>
                        <p>Our company has the right to monitor corporate emails. We also have the right to monitor
                            websites employees visit on our computers.</p>
                        <h2>Disciplinary Action</h2>
                        <p>Employees who don’t conform to this employee internet usage policy will face disciplinary
                            action. Serious violations will be cause for termination of employment, or legal action when
                            appropriate. Examples of serious violations are:</p>
                        <ul>
                            <li>Using our internet connection to steal or engage in other illegal activities.</li>
                            <li>Causing our computers to be infected by viruses, worms or other malicious software.</li>
                            <li>Sending offensive or inappropriate emails to our customers, colleagues or partners.</li>
                        </ul>
                        <br><br>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->
<!-- #location:dashboard/policies-internet-usage -->
{% endblock page_content %}
