{% extends "private/base.html" %}
{% load static %}
{% block extrajs %}{% endblock extrajs %}

{% block page_content %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Remote Work Policy Template</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Resources</a></li>
            <li class="breadcrumb-item"><a href="policy-templates.php">Policy templates</a></li>
            <li class="breadcrumb-item active">Remote Work Policy</li>
        </ol>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="entry-content article-content">
                        <h2>Employee remote work policy template</h2>
                        <p>This Employee remote work policy template is ready to be tailored to your company’s needs and
                            should be considered a starting point for setting up your employment policies.</p>
                        <div class="p-t-20 text-right">
                            <button class="btn btn-outline-info waves-effect waves-light" type="button"><span
                                    class="btn-label"><i class="mdi mdi-download"></i></span>Download
                            </button>
                        </div>
                        <hr>
                        <h2>Policy brief &amp; purpose</h2>
                        <p>Our Employee remote work policy outlines our guidelines for employees who work from a
                            location other than our offices. We want to ensure that both employees and our company will
                            benefit from these arrangements.</p>
                        <h2>Scope</h2>
                        <p>This policy applies to employees whose primary work location is not at our offices.</p>
                        <h2>Policy elements</h2>
                        <p>Remote working is a permanent or temporary agreement between employees and managers to work
                            from a non-office location for more than [<em>three days</em>.]<br/>
                            Working from home for a maximum of [<em>two days</em>] or working from home certain days a
                            week on a recurring basis are situations covered by our work from home policy.</p>
                        <h3>Remote working agreement</h3>
                        <p>Employees may work remotely on a permanent or temporary basis.</p>
                        <p>Permanent remote work employees should indicate their primary working address in a remote
                            working agreement. This contract will also outline their responsibilities as remote
                            employees.</p>
                        <p>Office-based employees may also work remotely for a maximum of [<em>two consecutive
                            weeks</em>] per year if [<em>they want to visit family/ their birthplace</em>.] Eligible
                            employees are those who have been employed by our company for at least [<em>a year</em>.]
                            Employees who are new parents or suffer from short-term/long-term disability may agree to
                            longer periods of remote working with their manager and HR.</p>
                        <p>Office-based employees may also revert to permanent remote working in cases of relocation. HR
                            will assess their eligibility on a case-by-case basis.<br/>
                            Employees who want to work remotely must submit a request by [<em>asking HR for a form/
                                through our HRIS</em>.]</p>
                        <h3>Remote working that works</h3>
                        <p>To ensure that employee performance will not suffer in remote work arrangements, we advise
                            our remote employees to:</p>
                        <ul>
                            <li>Choose a quiet and distraction-free working space.</li>
                            <li>Have an internet connection that’s adequate for their job.</li>
                            <li>Dedicate their full attention to their job duties during working hours.</li>
                            <li>Adhere to break and attendance schedules agreed upon with their manager.</li>
                            <li>Ensure their schedules overlap with those of their team members for as long as is
                                necessary to complete their job duties effectively.
                            </li>
                        </ul>
                        <p>Team members and managers should determine long-term and short-term goals. They should
                            frequently meet (either online or in-person when possible) to discuss progress and
                            results.</p>
                        <h3>Compliance with Policies</h3>
                        <p>Our remote employees must follow our company’s policies like their office-based colleagues.
                            Examples of policies that all employees should abide by are:</p>
                        <ul>
                            <li>Attendance.</li>
                            <li>Social media.</li>
                            <li>Confidentiality.</li>
                            <li>Data protection.</li>
                            <li>Employee Code of Conduct.</li>
                            <li>Anti-discrimination/Equal opportunity.</li>
                            <li>Dress code when meeting with customers or partners.</li>
                        </ul>
                        <h3>Compensation and benefits</h3>
                        <p>Compensation is determined by job role. Health insurance, PTO and other individual or group
                            benefits are not altered by a remote working agreement.<br/>
                            Remote employees will also receive [<em>$100</em>] per month as a remote-working allowance
                            to cover office-related costs (e.g. electricity and rent.) Occasionally, we may pay for our
                            remote employees to visit our offices.</p>
                        <h3>Equipment</h3>
                        <p>We will provide our remote employees with equipment that is essential to their job duties,
                            like laptops, headsets and cell phones (when applicable.) We will install VPN and
                            company-required software when employees receive their equipment. We will not provide
                            secondary equipment (e.g. printers and screens.)</p>
                        <p>Equipment that we provide is company property. Employees must keep it safe and avoid any
                            misuse. Specifically, employees must:</p>
                        <ul>
                            <li>Keep their equipment password protected.</li>
                            <li>Store equipment in a safe and clean space when not in use.</li>
                            <li>Follow all data encryption, protection standards and settings.</li>
                            <li>Refrain from downloading suspicious, unauthorized or illegal software.</li>
                        </ul>
                        <p>HR will discuss insurance needs with employees. Employees may have to take up homeowner’s
                            insurance to cover the cost of company equipment. HR may reimburse a portion of the coverage
                            when applicable.</p>
                        <p>&nbsp;</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
<!-- #location:dashboard/policies-remote-work -->
{% endblock page_content %}
