{% extends "private/base.html" %}
{% load static %}
{% block extrajs %}{% endblock extrajs %}

{% block page_content %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Mobile Devices Usage Policy Template</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Resources</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Policy templates</a></li>
            <li class="breadcrumb-item active">Mobile Devices Usage Policy</li>
        </ol>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="">
        <div class="col-12">
            <div class="card">
                <div class="card-body">


                    <div class="entry-content article-content">
                        <h2>Employee Cell Phone Policy</h2>
                        <p>This <strong>Employee Cell Phone Policy</strong>&nbsp;is ready to be tailored to your
                            company’s needs and should be considered a starting point for setting up your employment&nbsp;policies.
                            The cell phone company policy may also be referred to as a&nbsp;<strong>no mobile phones at
                                work policy&nbsp;</strong>or a <strong>bring your own device (BYOD) policy</strong>.</p>
                        <div class="p-t-20 text-right">
                            <button class="btn btn-outline-info waves-effect waves-light" type="button"><span
                                    class="btn-label"><i class="mdi mdi-download"></i></span>Download
                            </button>
                        </div>

                        <hr>


                        <h2>Policy brief &amp; purpose</h2>
                        <p>Our <strong>employee cell phone policy</strong> outlines our guidelines for using cell phones
                            at work.</p>
                        <p>We recognize that cell phones (and smartphones especially) have become an integral part of
                            everyday life. They may be a great asset if used correctly (for productivity apps,
                            calendars, business calls etc.)</p>
                        <p>But, cell phones may also cause problems when used imprudently or excessively.</p>
                        <h2>Scope</h2>
                        <p>This policy applies to all our employees.</p>
                        <h2>Policy elements</h2>
                        <p>Despite their benefits, personal cell phones may cause problems in the workplace. Employees
                            who use their cell phones excessively may:</p>
                        <ul>
                            <li>Get distracted from their work.</li>
                            <li>Disturb colleagues by speaking on their phones.</li>
                            <li>Cause security issues from inappropriate use of company-issued equipment or misuse of
                                our company’s internet connection.
                            </li>
                            <li>Cause accidents when they illegally use their phones inside company vehicles or near
                                areas where using phones is prohibited.
                            </li>
                        </ul>
                        <p>Our company expects employees to use their cellphones prudently during working hours.</p>
                        <p><strong>We advise our employees to:</strong></p>
                        <ul>
                            <li>Use company-issued phones for business purposes only and preserve them in perfect
                                condition.
                            </li>
                            <li>Surf the internet, text and talk on the phone only for a few minutes per day.</li>
                            <li>Turn off or silence their phones when asked.</li>
                        </ul>
                        <p><strong>We won’t allow employees to:</strong></p>
                        <ul>
                            <li>Play games on the cell phone during working hours.</li>
                            <li>Use their phones for any reason while driving a company vehicle.</li>
                            <li>Use their cell phone’s camera or microphone to record confidential information.</li>
                            <li>Use their phones in areas where cell use is explicitly prohibited (e.g. laboratories.)
                            </li>
                            <li>Speak on their phones within earshot of colleagues’ working space during working
                                hours.
                            </li>
                            <li>Download or upload inappropriate, illegal or obscene material on a company cell phone
                                using a corporate internet connection.
                            </li>
                        </ul>
                        <h3>How to properly use cell phones in the workplace</h3>
                        <p>Employees can benefit from using cell phones. They’re allowed to use their phones:</p>
                        <ul>
                            <li>To make business calls.</li>
                            <li>To use productivity apps.</li>
                            <li>To check important messages.</li>
                            <li>To make brief personal calls away from the working space of colleagues.</li>
                        </ul>
                        <p>Employees can use their phones during breaksor at lunch hour and while on a stationary
                            vehicle.</p>
                        <h2>Disciplinary Consequences</h2>
                        <p>Our company retains the right to monitor employees for excessive or inappropriate use of
                            their cell phones. If an employee’s phone usage causes a decline in productivity or
                            interferes with our operations, we’ll ban that employee from using their cell phones.</p>
                        <p>Employees may face severe disciplinary action up to and including termination, in cases when
                            they:</p>
                        <ul>
                            <li>Cause a security breach.</li>
                            <li>Violate our confidentiality policy.</li>
                            <li>Cause an accident by recklessly using their phones.</li>
                        </ul>

                    </div>


                </div>

            </div>


        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
<!-- #location:dashboard/policies-mobile-devices -->
{% endblock page_content %}
