{% extends "private/base.html" %}
{% load static %}
{% block extrajs %}{% endblock extrajs %}

{% block page_content %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">DomainKeys Identified Mail</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Remediations</a></li>
            <li class="breadcrumb-item active">DomainKeys Identified Mail</li>
        </ol>
    </div>

</div>

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="container-fluid">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="entry-content article-content">
                        <h3> DomainKeys Identified Mail (DKIM)</h3>

                        <p class="text-primary"><strong>DKIM is an authentication protocol that links a domain name to a
                            message. The protocol allows you to sign your email with your domain name. The purpose of
                            the DKIM protocol is not only to prove that the domain name has not been usurped, but also
                            that the message has not been altered during transmission.</strong></p>

                        <p>It achieves this by using asymmetric cryptography which consists of public and private keys.
                            The private key is private to the sender’s domain and used to sign the emails. The public
                            key is published in the sender’s DNS so it can be retrieved by anyone receiving messages
                            from the sender.</p>

                        <p>In essence, when an email is composed, its headers and body are signed using the private key
                            of the sender to create a digital signature, which is also sent as a header field along with
                            the email. On the receiver’s side (if DKIM enabled), the server retrieves the public key and
                            verifies if the email was indeed signed by the sending domain. If the signature is
                            successfully validated that proves that the sending domain sent the message and also that
                            the headers and body of the message have not been modified during transmission.</p>


                        <h3>Overview</h3>
                        <p>To do so, DKIM operates in 2 phases: signing and verifying. Both processes are independent
                            from the Simple Mail Transfer Protocol (SMTP) protocol and relies on cryptographic concepts,
                            such as hashing algorithms and public/private key encryption. Each public/private key pair
                            is linked to a “selector”, i.e., a label associated with a specific key pair. Each selector
                            has a DNS TXT entry which contains the selector itself, the associated public key associated
                            to this selector and the type of key contained. Private keys must always be kept highly
                            secured on the server.</p>

                        <p>For every outgoing email, a selector is chosen based on rules defined by the administrator
                            and a signature is generated by calculating a one-way hash, using certain fields from the
                            header and the contents of its body, for example, the sender’s email address, the subject
                            and the date, along with the body of the message. This signature is then encrypted using the
                            private key associated with the chosen selector. The encrypted signature, along with various
                            properties of the process, are enclosed within the DKIM-signature header which is added to
                            the outgoing email. </p>

                        <p>On arrival, the recipient mail agent performs a Domain Name Service (DNS) query to retrieve
                            the public key associated with the domain included in the DKIM header. Using the public key
                            retrieved, it then decrypts the signature and compares it with the computed hash of the
                            email received. If they match, the email is deemed valid.</p>

                        <p>DKIM is defined in <a href="https://tools.ietf.org/html/rfc6376">RFC 6376</a>, dated
                            September 2011; with updates in <a href="https://tools.ietf.org/html/rfc8301">RFC 8301</a>
                            and <a href="https://tools.ietf.org/html/rfc8463">RFC 8463.</a></p>

                        <div class="card m-t-30">
                            <div class="card-header">
                                <div class="card-actions">
                                    <a class="" data-action="collapse"><i class="ti-minus"></i></a>
                                </div>
                                <h4 class="card-title m-b-0">DKIM by Example</h4>
                            </div>

                            <div class="card-body collapse show">


                                <p>To illustrate the process described in the previous section, we’ll present an example
                                    of an email sent using DKIM. Below is an example of a DKIM-signature header
                                    generated by a mail agent before being sent to its destination. </p>

                                <p><code> DKIM-Signature: v=1; a=rsa-sha256; d=company.net; s=asia;c=relaxed/simple;
                                    q=dns/txt; l=1234; t=1117574938; x=1118006938; h=from:to:subject:date:keywords;
                                    bh=MTIzNDU2Nzg5MDEyMzQ1Njc4OTAxMjM0NTY3ODkwMTI=;b=dzdVyOfAKCdLXdJOc9G2q8LoXSlEniSbav+yuU4zGeeruD00lszZVoG4ZHRNiYzR</code>
                                </p>

                                <p>A DKIM-signature is composed of multiple tags which take the form <code>&lt;tag&gt;=&lt;value&gt;</code>
                                    The following tags can be found in the header:</p>

                                <table class="table m-t-30">

                                    <tr>
                                        <td>v:</td>
                                        <td>the version of DKIM used. This is always 1 as of 2018;</td>
                                    </tr>
                                    <tr>
                                        <td>a:</td>
                                        <td>the signing algorithm used;</td>
                                    </tr>
                                    <tr>
                                        <td>d:</td>
                                        <td>the domain validating the DKIM signature. A DNS request will be made to this
                                            server to retrieve the sender’s public key;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>s:</td>
                                        <td>the selector;</td>
                                    </tr>
                                    <tr>
                                        <td>c:</td>
                                        <td>the canonicalization algorithm for header and body. This is used to specify,
                                            for the intermediate mail agent, how to handle white spaces within the
                                            email.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>q:</td>
                                        <td>the default query method to use to retrieve the public key. This is set to
                                            dns/txt in most cases;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>l:</td>
                                        <td>the length of the canonicalized part of the body that has been signed,</td>
                                    </tr>
                                    <tr>
                                        <td>t:</td>
                                        <td>the signature timestamp,</td>
                                    </tr>
                                    <tr>
                                        <td>x:</td>
                                        <td>the expiry time of the signature. Setting this value prevents replay
                                            attacks;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>h:</td>
                                        <td>column-separated list of signed header fields, repeated for fields that
                                            occur multiple times;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>bh:</td>
                                        <td> the base64-encoded signature of the contents of the body (optional); and
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>b:</td>
                                        <td>the base64-encoded signature associated with the email.</td>
                                    </tr>
                                </table>


                                <p>When a recipient receives an email with the DKIM-signature included in its header,
                                    the mail agent performs a DNS query to the domain associated with the “d” parameter
                                    using the method specified by the “q” tag to retrieve the public key associated with
                                    the selector mentioned by the “s” tag.</p>


                                <p class="m-t-30"><code>asia._domainkey.company.net TXT “v=DKIM1;
                                    k=rsa-256;p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCrLHiExVd55zd/IQ/J/mRwSRMAocV/hMB3jXwaHH36d9NaVynQFYV8NaWi69c1veUtRzGt7yAioXqLj7Z4TeEUoOLgrKsn8YnckGs9i3B3tVFB+Ch/4mPhXWiNfNdynHWBcPcbJ8kjEQ2U8y78dHZj1YeRXXVvWob2OaKynO8/lQIDAQAB;”</code>
                                </p>


                                <p>Above is a typical example of a DKIM record. The components of such a record are as
                                    follows:</p>


                                <table class="table m-t-30">
                                    <tr>
                                        <td>asia._domainkey.company.net:</td>
                                        <td>the DKIM DNS record. Each record uses the same format: <code>&lt;selector&gt;._domainkey.&lt;domain&gt;</code>.
                                            The _domainkey element is constant and must always be specified;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>v:</td>
                                        <td>specifies the DKIM version, which is always 1 as of 2018;</td>
                                    </tr>
                                    <tr>
                                        <td>k:</td>
                                        <td>specifies the key type; and</td>
                                    </tr>
                                    <tr>
                                        <td>p:</td>
                                        <td>contains the base64-encoded public key to be used for decryption.</td>
                                    </tr>
                                </table>


                                <p>Once the signature is decrypted using the public key retrieved from the sender, the
                                    mail agent will confirm the integrity of the email by comparing the decrypted
                                    signature and the signature computed from the received email. If they match, the
                                    email is accepted and sent to the user’s inbox.</p>

                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header">
                                <div class="card-actions">
                                    <a class="" data-action="collapse"><i class="ti-minus"></i></a>
                                </div>
                                <h4 class="card-title m-b-0">Implementing DKIM</h4>
                            </div>


                            <div class="card-body collapse show">

                                <p>Implementing DKIM properly can be challenging and, as in any major change in
                                    infrastructure, it should be carefully planned and documented prior to
                                    implementation. This section provides general guidance to network administrators who
                                    wish to introduce DKIM to their infrastructure to harden their security posture. We
                                    break down DKIM implemention into three sections:</p>
                                <p>If you use common email providers (such as Office 365)</p>
                                <p>If you use other third party email providers</p>
                                <p class="p-b-30">If you use your own infrastrucutre</p>


                                <h4 class="m-t-30">Setup for common email providers:</h4>
                                <hr>

                                <p>
                                    <a href="https://docs.microsoft.com/en-us/office365/securitycompliance/use-dkim-to-validate-outbound-email">Setting
                                        up DKIM in Office 365</a>
                                </p>
                                <p>
                                    <a href="https://support.google.com/a/answer/174124?hl=en">Setting up DKIM for
                                        Google Apps</a>
                                </p>

                                <p class="p-b-30"><a
                                        href="https://www.zoho.com/mail/help/adminconsole/dkim-configuration.html">Setting
                                    up DKIM for Zoho</a></p>


                                <h4 class="m-t-20">Other third party email providers:</h4>
                                <hr>
                                <p>DKIM requires the addition of public keys into your DNS zone. The key is often
                                    provided to you by the organization that is sending your email, for example
                                    SendGrid, Postmark, or Google Apps. The key will either be inserted directly into
                                    your zone as a TXT record, or it will be a CNAME pointing to the key in your
                                    provider’s DNS.</p>
                                <p>If you’re given a string representing the DKIM, it usually looks something like
                                    this:</p>

                                <p><code>k=rsa;t=s;p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDGMjj8MVaESl30KSPYdLaEreSYzvOVh15u9YKAmTLgk1ecr4BCRq3Vkg3Xa2QrEQWbIvQj9FNqBYOr3XIczzU8gkK5Kh42P4C3DgNiBvlNNk2BlA5ITN/EvVAn/ImjoGq5IrcO+hAj2iSAozYTEpJAKe0NTrj49CIkj5JI6ibyJwIDAQAB</code>
                                </p>

                                <p>Insert this into a TXT record in your DNS. Do this by following the instructions for
                                    creating a record, selecting TXT as the record type, and entering the string you
                                    were given into the Content field.</p>
                                <p>Your provider will also give you a specific subdomain to use, usually something
                                    like:</p>

                                <p><code>something._domainkey</code></p>

                                <p>Enter this subdomain in the “Name” field.</p>
                                <p>If your provider gives you a fully-qualified name that ends with your domain name, DO
                                    NOT include your domain name in the “Name” field when you add the TXT record. If
                                    you’re given <code>pm._domainkey.yourdomain.com</code>, only enter <code>pm._domainkey</code>
                                    in the “Name” field.</p>

                                <p>Your DNS record should look like this:</p>

                                <table class="table m-t-30  m-b-30">
                                    <tr>
                                        <th>Name</th>
                                        <th>TTL</th>
                                        <th></th>
                                        <th>RecordType</th>
                                        <th>Content</th>
                                    </tr>
                                    <tr>
                                        <td>pm._domainkey</td>
                                        <td>14400</td>
                                        <td>IN</td>
                                        <td>TXT</td>
                                        <td><span style="word-break: break-word;"> "v=DKIM1;k=rsa;t=s;p=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDGMjj8MVaESl30KSPYdLaEreSYzvOVh15u9YKAmTLgk1ecr4BCRq3Vkg3Xa2QrEQWbIvQj9FNqBYOr3XIczzU8gkK5Kh42P4C3DgNiBvlNNk2BlA5ITN/EvVAn/ImjoGq5IrcO+hAj2iSAozYTEpJAKe0NTrj49CIkj5JI6ibyJwIDAQAB"</span>
                                        </td>
                                    </tr>


                                </table>


                                <h4 class="m-t-30">Configure DKIM For your own server.</h4>
                                <hr>

                                <p>Inventory all of your sending domains. Tracking all of the domains that you are
                                    mailing from is an often overlooked step. Many organisations use different vendors
                                    for deploying email, like marketing messages, customer service messages and
                                    corporate email. It’s also wise to check with those that are in charge of customer
                                    service, client services, your internal IT email admin and of course your email
                                    service provider.</p>

                                <p> Install and configure DKIM on your email server. Because all outgoing email will
                                    require to be signed, you will need to install a DKIM package specifically for your
                                    email server. To verify your platform has available DKIM software, you can check <a
                                            href="http://dkim.org/deploy/index.html">DKIM.org’s site here</a>, or check
                                    with your vendor. If you’re using an email service provider, you will need to work
                                    with them on setting up your DKIM record (see above).</p>

                                <p> Create a public and private key pair. You can use a <a
                                        href="https://port25.com/dkim-wizard/">DKIM wizard</a>, or you can generate your
                                    own using openssl too. </p>


                                <p>For this procedure we will use: <a href="https://port25.com/dkim-wizard/">DKIM
                                    wizard</a></p>

                                <p> Enter the From: domain that you are authenticating. Enter the selector name. This
                                    should be descriptive to the type of email you are sending, like marketing, or
                                    newsletter. Also, ensure your key is 1024-bit or higher. A selector naming
                                    convention is a recommendation, however, as one can use any selector name and often
                                    many admins will just use “selector.” </p>

                                <p>A seperate DKIM record can be created for each service that sends emails on your
                                    behalf. A naming convention for selectors helps if you need multiple keys;</p>

                                <p>Publish your public key. The DKIM wizard should now have given you a selector record.
                                    This record includes the DKIM subdomain that will store the public key which is a
                                    combination of the domain and selector name. For example, domain.com with a selector
                                    of marketing will have the public key stored in marketing._domainkey.domain.com. You
                                    will store your public key in the TXT portion of that domain. See above for details
                                    on how to do this.</p>

                                <p>Store your private key. Your private key will also be generated by the wizard and
                                    will need to be stored according to where your DKIM package specifies.
                                    Configure your email server. You will need to do further configuration of your
                                    system which will require you to refer to the installation instructions for your
                                    particular server or you will need to consult with your vendor.</p>
                            </div>
                        </div>


                        <div class="card">
                            <div class="card-header">

                                <div class="card-actions">
                                    <a class="" data-action="collapse"><i class="ti-minus"></i></a>
                                </div>
                                <h4 class="card-title m-b-0">Best Practices</h4>
                            </div>

                            <div class="card-body collapse show">

                                <p>As for SPF, great care is needed when configuring DKIM, which can be hard to
                                    troubleshoot without DMARC reporting. Furthermore, an improperly configured DKIM
                                    setup can actually decrease security and affect business operations by rejecting
                                    legitimate emails. Below are some of the most popular recommendations when
                                    implementing DKIM.</p>


                                <table class="table m-t-30">

                                    <tr>
                                        <td>If your system generates bounce messages, ensure they are also signed using
                                            DKIM.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Use signature keys with a length between 1024 and 2048 bytes. Keys smaller
                                            than 1024 bits are subject to offline attacks [1] and may often be ignored
                                            by mail servers. Keys larger than 2048 bits may have incompatibility issues
                                            with DNS.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Define a key life-cycle, i.e., change keys on a regular basis. Private keys
                                            and their corresponding public keys should be rotated out of use
                                            periodically to limit the probability of a compromised or broken key being
                                            used.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Use key selectors to introduce new keys at any point while retaining the old
                                            keys for a prudent period of time so that all in-transit messages have time
                                            to be processed and delivered.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Do not share keys with 3rd-party service providers or partners. Each entity
                                            sending should have their own, dedicated key pair for their DKIM setup.
                                            Doing so prevents a compromised DKIM key from impacting other mailing
                                            channels;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Encrypt your key store and any backup. Compromised DKIM private keys are a
                                            valuable target as attackers can use them to sign emails on behalf of your
                                            organization. Never store private keys as plaintext and avoid maintaining a
                                            centralized database of keys.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Use SHA-256 or better as hashing algorithm. Avoid weaker hashing algorithms
                                            such as MD5 or SHA-1 [2].
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ensure you define an expiration date for every signature created. Messages
                                            with expired signature will be denied by the recipient. Therefore, do not
                                            set the expiration date too soon. In case of doubt, 7 days is a good default
                                            value;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>It is recommended that you include both “b” and “bh” tags in the
                                            DKIM-signature;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>As for every security measure, remain aware of the latest threat
                                            intelligence and evolve your security posture based on new recommendations
                                            from the industry. Constantly audit and confirm your DKIM configuration as
                                            change occurs in your networks
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>


                        <hr class="m-t-30">

                        <div class="m-l-10">
                            <h3>References</h3>

                            <p>
                                DomainKeys Identified Mail (DKIM) Signatures <br>
                                <a href="https://tools.ietf.org/html/rfc6376">https://tools.ietf.org/html/rfc6376</a>


                            </p>

                            <p>
                                DomainKeys Identified Mail (DKIM)<br>
                                <a href="http://dkim.org/">http://dkim.org/</a>
                            </p>

                            <p>
                                M3 AAWG DKIM Key Rotation Best Common Practices." Messaging, Malware and Mobile
                                Anti-Abuse Working Group. December 2013. <br>
                                <a href="https://www.m3aawg.org/sites/default/files/document/M3AAWG_DKIM_Key_Rotation_BP-2013-12.pdf">https://www.m3aawg.org/sites/default/files/document/M3AAWG_DKIM_Key_Rotation_BP-2013-12.pdf</a>
                            </p>

                            <p> Open Web Application Security Project - Phishing<br>
                                <a href="https://www.owasp.org/index.php/Phishing">https://www.owasp.org/index.php/Phishing</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #location:dashboard/remediation-dkim -->
{% endblock page_content %}
