{% extends "private/base.html" %}
{% load static %}
{% block extrajs %}{% endblock extrajs %}

{% block page_content %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Referrer-Policy Header</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Remediations</a></li>
            <li class="breadcrumb-item active">Referrer-Policy Header</li>
        </ol>
    </div>

</div>

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
 <div class="row">
    <div class="container-fluid">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <div class="entry-content article-content">
                        <h3> Referrer Policy </h3>

                        <p>The Referer header contains the address of the previous web page from which a link to the currently requested page was followed, which has lots of fairly innocent uses including analytics, logging, or optimized caching. However, there are more problematic uses such as tracking or stealing information, or even just side effects such as inadvertently leaking sensitive information.</p>
                        <p>For example, consider a "reset password" page with a social media link in a footer. If the link was followed, depending on how information was shared the social media site may receive the reset password URL and may still be able to use the shared information, potentially compromising a user's security.</p>
                        <p>By the same logic, an image hosted on a third party side but embedded in your page could result in sensitive information being leaked to the third party. Even if security is not compromised, the information may not be something the user wants shared.</p>

                        <p> The Referrer-Policy header on your server controls what information is sent through the Referer header. Protecting visitors privacy and security.</p>



                        <p>There are a number of defined mechanisms that can be used for this header: </p>

                        <table class="table">

                            <tbody>
                                <tr>
                                    <th> Value
                                    </th>
                                    <th> Description
                                    </th>
                                </tr>
                                <tr>
                                    <td> no-referrer
                                    </td>
                                    <td> The Referer header will be omitted entirely. No referrer information is sent along with requests.
                                    </td>
                                </tr>
                                <tr>
                                    <td> no-referrer-when-downgrade
                                    </td>
                                    <td> This is the user agent's default behavior if no policy is specified. The origin is sent as referrer to a-priori as-much-secure destination (HTTPS-&gt;HTTPS), but isn't sent to a less secure destination (HTTPS-&gt;HTTP).
                                    </td>
                                </tr>
                                <tr>
                                    <td> origin
                                    </td>
                                    <td> Only send the origin of the document as the referrer in all cases. The document https://example.com/page.html will send the referrer https://example.com/.
                                    </td>
                                </tr>
                                <tr>
                                    <td> origin-when-cross-origin
                                    </td>
                                    <td> Send a full URL when performing a same-origin request, but only send the origin of the document for other cases.
                                    </td>
                                </tr>
                                <tr>
                                    <td> same-origin
                                    </td>
                                    <td> A referrer will be sent for same-site origins, but cross-origin requests will contain no referrer information.
                                    </td>
                                </tr>
                                <tr>
                                    <td> strict-origin
                                    </td>
                                    <td> Only send the origin of the document as the referrer to a-priori as-much-secure destination (HTTPS-&gt;HTTPS), but don't send it to a less secure destination (HTTPS-&gt;HTTP).
                                    </td>
                                </tr>
                                <tr>
                                    <td> strict-origin-when-cross-origin
                                    </td>
                                    <td> Send a full URL when performing a same-origin request, only send the origin of the document to a-priori as-much-secure destination (HTTPS-&gt;HTTPS), and send no header to a less secure destination (HTTPS-&gt;HTTP).
                                    </td>
                                </tr>
                                <tr>
                                    <td> unsafe-url
                                    </td>
                                    <td> Send a full URL (stripped from parameters) when performing a a same-origin or cross-origin request.
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="card m-t-30">
                            <div class="card-header">

                                <div class="card-actions">
                                    <a class="" data-action="collapse"><i class="ti-minus"></i></a>
                                </div>
                                <h4 class="card-title m-b-0">Implementing the Referrer-Policy Header</h4>
                            </div>

                            <div class="card-body collapse show">

                                <p>The x-content-type header is easy to implement and only requires a slight web server configuration change. Below we show the most stict use of this policy that will omit the referer header entirely. </p>


                                <h3> Enable in Nginx</h3>
                                <p><code>add_header Referrer-Policy no-referrer;</code></p>
                                <h3>Enable in Apache</h3>
                                <p><code>Header set Referrer-Policy "no-referrer"</code></p>
                                <h3>Enable on IIS</h3>
                                <p>To enable on IIS simply add it to your site’s Web.config file.</p>

                                <code>
                                    &lt;system.webServer&gt;<br>
                                    ...<br><br>

                                    &lt;httpProtocol&gt;<br>
                                    &lt;customHeaders&gt;<br>
                                    &lt;add name="Referrer-Policy" value="no-referrer" /&gt;<br>
                                    &lt;/customHeaders&gt;<br>
                                    &lt;/httpProtocol&gt;<br><br>

                                    ...<br>
                                    &lt;/system.webServer&gt;

                                </code>
                            </div>

                        </div>

                        <div class="m-l-10">
                            <h3>References</h3>
                            <a class="external external-icon" href="https://www.w3.org/TR/referrer-policy/" rel="noopener">https://www.w3.org/TR/referrer-policy/</a>
                        </div>

                    </div>

                </div>

            </div>
        </div>



    </div>
</div>

<!-- #location:dashboard/remediation-headers-referrer-policy -->
{% endblock page_content %}
