{% extends "private/base.html" %}

{% block extrajs %}{% endblock extrajs %}

{% block page_content %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Remediation</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Remediation</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Email Security</a></li>
            <li class="breadcrumb-item active">Sender Policy Framework</li>
        </ol>
    </div>
</div>

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="container">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                TLS
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
    </div>
</div>
{% endblock page_content %}
