{% extends "private/base.html" %}
{% load static %}
{% block extra_css %}
<link type="text/css" rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
{% endblock extra_css %}
{% block extrajs %}{% endblock extrajs %}

{% block page_content %}
<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-12 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Cyber Security Consultancy</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>

            <li class="breadcrumb-item active">Cyber Security Consultancy</li>
        </ol>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="container-fliud">
        <div class="col-12">

            <div class="card">
                            <div class="card-body bg-info">
                                <h4 class="text-white card-title">My Security Action Plan</h4>
                            </div>
                            <div class="card-body">
                                <div class="message-box contact-box position-relative">

                                    <div class="message-widget contact-widget position-relative">
                                        <!-- Message -->
                                        <a href="#" class="py-3 px-2 border-bottom d-block text-decoration-none">
                                            <div class="user-img position-relative d-inline-block mr-2"> <span class="round text-white d-inline-block text-center rounded-circle bg-info">1</span>
                                                <span class="profile-status pull-right d-inline-block position-absolute bg-success rounded-circle"></span>
                                            </div>
                                            <div class="mail-contnet d-inline-block align-middle">
                                                <h5 class="my-1">Generate a Risk Report</h5> <span class="mail-desc font-12 text-truncate overflow-hidden text-nowrap d-block">Protect your organisation from common vulnerabilities </span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#" class="py-3 px-2 border-bottom d-block text-decoration-none">
                                            <div class="user-img position-relative d-inline-block mr-2"> <span class="round text-white d-inline-block text-center rounded-circle bg-info">2</span>
                                                <span class="profile-status pull-right d-inline-block position-absolute bg-danger rounded-circle"></span>
                                            </div>
                                            <div class="mail-contnet d-inline-block align-middle">
                                                <h5 class="my-1">Complete Your Self Assessment</h5> <span class="mail-desc font-12 text-truncate overflow-hidden text-nowrap d-block">A straightforward assessment to identify weaknesses and ensure essential cybersecurity measures are in place. </span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#" class="py-3 px-2 border-bottom d-block text-decoration-none">
                                            <div class="user-img position-relative d-inline-block mr-2"> <span class="round text-white d-inline-block text-center rounded-circle bg-info">3</span> <span class="profile-status pull-right d-inline-block position-absolute bg-warning rounded-circle"></span>
                                            </div>
                                            <div class="mail-contnet d-inline-block align-middle">
                                                <h5 class="my-1">Safeguard Your Assests </h5><span class="mail-desc font-12 text-truncate overflow-hidden text-nowrap d-block">Review, update, manage and maintain your cyber security tactics by implementing a management system.</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="#" class="py-3 px-2 d-block text-decoration-none">
                                            <div class="user-img position-relative d-inline-block mr-2"> <span class="round text-white d-inline-block text-center rounded-circle bg-info">4</span>
                                                <span class="profile-status pull-right d-inline-block position-absolute bg-warning rounded-circle"></span>
                                            </div>
                                            <div class="mail-contnet d-inline-block align-middle">
                                                <h5 class="my-1">Security Awareness Education</h5> <span class="mail-desc font-12 text-truncate overflow-hidden text-nowrap d-block">Take preventive action against cyber risks with the deployment of staff awareness training.</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
            </div>

            <div class="card">
                <div class="card-body">


                    <div class="entry-content article-content p-l-10">
                        <h2>Cyber Security Consultancy</h2>     <br>

                        <p>We provide a comprehensive range of cyber security and data privacy services to help you assess, build and manage your cyber security capabilities and respond to incidents. Our services are designed to help you build confidence, understand and react to threats and vulnerabilities, protect what's important and secure your environment. We advise senior management and Boards on shaping a strategic response to risk as well as providing detailed technical analysis.</p>


                        <p>Companies can simply no longer place the burden of cyber security and cyber resilience on an IT Manager; yet few can afford the high level and high cost of skills associated with a cyber security specialist.  </p>




                         When an individual with no expertise can rent very sophisticated attack software and deploy it against a range of targets on the Internet on a fee share basis, there is little barrier to entry for cyber criminals.






                        The complexity associated with cyber security and the escalating cyber threat is outstripping the abilities of most organisations. It is no longer enough to know how to deploy security technology; in today’s data compliance dominated world, the legal complexities associated with data security and protection are far outside the remit and understanding of any IT expert.



                        <p>Cyber criminals continue to evolve the ways in which they attack SMEs, which, when combined with a lack of employee awareness and an inability to recovery from an incident, means that cybercriminals have a recipe for success, while for SMEs it can spell disaster. It’s all a question of awareness, or a lack of it. </p>

                        <p><strong>Do your employees know how to spot a phishing email? Are you confident that your colleagues could spot one? Do you know the ways in which fraudsters target businesses through invoice scams, bogus boss emails and social engineering?</strong></p>

                        <p>Providing your staff with regular awareness training on key issues is essential to fully protect your organisation. We offer a fully fledged LMS that covers essential security topics to ensure that your staff are fully educated on the cyber security threats that they are most likely to face. Effective training, delivered in easy to understand bite sized modules. All of our content is developed in-house by our own cyber security professionals.</p>




                        <hr>

<div class="popup-gallery row ">
                                    <div class="col-md-4 mt-4">
                                        <a href="{% static 'images/phishing.jpg' %}" title="Phishing Awareness Training"> <img src="{% static 'images/phishing.jpg' %}" class="img-fluid" alt="img"> </a>
                                    </div>
                                    <div class="col-md-4 mt-4">
                                        <a href="{% static 'images/workplace.jpg' %}" title="Physical Work Place Security"> <img src="{% static 'images/workplace.jpg' %}" class="img-fluid" alt="img"> </a>
                                    </div>
                                    <div class="col-md-4 mt-4">
                                        <a href="{% static 'images/info-sec.jpg' %}" title="Information Security"> <img src="{% static 'images/info-sec.jpg' %}" class="img-fluid" alt="img"> </a>
                                    </div>

                                     <div class="col-md-4 mt-4">
                                        <a href="{% static 'images/ceo-fraud.jpg' %}" title="Business Email Compromise"> <img src="{% static 'images/ceo-fraud.jpg' %}" class="img-fluid" alt="img"> </a>
                                    </div>
                                    <div class="col-md-4 mt-4">
                                        <a href="{% static 'images/working-remotely.jpg' %}" title="Working on the Move"> <img src="{% static 'images/working-remotely.jpg' %}" class="img-fluid" alt="img"> </a>
                                    </div>
                                    <div class="col-md-4 mt-4">
                                        <a href="{% static 'images/social-engineering.jpg' %}" title="Social Engineering"> <img src="{% static 'images/social-engineering.jpg' %}" class="img-fluid" alt="img"> </a>
                                    </div>
                                    <div class="col-md-4 mt-4">
                                        <a href="{% static 'images/password-security.jpg' %}" title="Password Security"> <img src="{% static 'images/password-security.jpg' %}" class="img-fluid" alt="img"> </a>
                                    </div>
                                    <div class="col-md-4 mt-4">
                                        <a href="{% static 'images/malware.jpg' %}" title="Malware and Ransomware"> <img src="{% static 'images/malware.jpg' %}" class="img-fluid" alt="img"> </a>
                                    </div>
                                    <div class="col-md-4 mt-4">
                                        <a href="{% static 'images/social-media.jpg' %}" title="Social Media Security"> <img src="{% static 'images/social-media.jpg' %}" class="img-fluid" alt="img"> </a>
                                    </div>
                                    <div class="col-md-4 mt-4">
                                        <a href="{% static 'images/GDPR.jpg' %}" title="An Introduction to GDPR"> <img src="{% static 'images/GDPR.jpg' %}" class="img-fluid" alt="img"> </a>
                                    </div>
                                    <div class="col-md-4 mt-4">
                                        <a href="{% static 'images/pci.jpg' %}" title="PCI DSS Compliance Training"> <img src="{% static 'images/pci.jpg' %}" class="img-fluid" alt="img"> </a>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
<!-- #location:dashboard/policies-email-usage -->
{% endblock page_content %}
{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sticky-kit/1.1.3/sticky-kit.min.js"></script>
   <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup-init.js' %}"></script>


{% endblock extra_js %}
